---
  BasedOnStyle: Microsoft
  AccessModifierOffset: '-2'
  AlignTrailingComments: 'true'
  AllowAllParametersOfDeclarationOnNextLine: 'false'
  AlwaysBreakTemplateDeclarations: 'No'
  ColumnLimit: '100'
  ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
  IncludeBlocks: Regroup
  IndentPPDirectives: AfterHash
  IndentWidth: '2'
  NamespaceIndentation: All
  BreakBeforeBinaryOperators: All
  BreakBeforeTernaryOperators: 'true'
  SortIncludes: 'false'
...